<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wishfox.foxsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.sohuglobal.world" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true">

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!--新手礼包-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSStarterPackActivity"
            android:theme="@style/Theme.Transparent" />
        <!--主界面-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSHomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent" />
        <!--赢狐币-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSWinFoxCoinActivity"
            android:theme="@style/Theme.Transparent" />
        <!--充值记录-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSRechargeRecordActivity"
            android:theme="@style/Theme.Transparent" />
        <!--游戏记录-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSGameRecordActivity"
            android:theme="@style/Theme.Transparent" />
        <!--消息列表-->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSMessageActivity"
            android:theme="@style/Theme.Transparent" />
        <!-- WebView -->
        <activity
            android:name="com.wishfox.foxsdk.ui.view.activity.FSWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <!-- 许愿狐授权入口 -->
        <activity
            android:name="com.wishfox.foxsdk.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:taskAffinity="com.wishfox.foxsdk"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.wishfox.foxsdk.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:taskAffinity="com.wishfox.foxsdk"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.wishfox.foxsdk.core.WishFoxEntryActivity"
            android:exported="true"
            android:label="WishFoxSdk"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <!--快钱支付回调-->
        <activity android:name="com.wishfox.foxsdk.wxapi.QuickMoneyPayResultActivity" />
    </application>

    <queries>
        <package android:name="com.tencent.mm" />  <!-- // 指定微信包名-->
    </queries>
    <queries>
        <package android:name="com.eg.android.AlipayGphone" /> <!-- 支付宝 -->
        <package android:name="hk.alipay.wallet" /> <!-- AlipayHK -->
    </queries>
</manifest>